<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>


<div class="top-wrapper">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="overlay-box">
    <div class="zemi logo">
    <%= image_tag "oikawa_logo_transparent.png", class: "top-logo" %>
    </div>
    <div class="overlay-text">
      <br><br>
      <p class="line1">社会科</p>
      <p class="line2">公共市民学専修</p><br><br>
      <p class="line3">及川ゼミ</p>
    </div>
  </div>
</div>



<div class="top-about-flex">
    <div class="toprecentnews">
      <div class="sticky-note">
        <h1>Recent News</h1>
      </div>
      <div class="letters-toptable">
        <div class="tape"></div> <!-- ← テープ追加 -->

        <div class="section-toplines">
          <h1>新着情報</h1>
          
          <div class="topline mark-line"></div>
        </div>

        <% if @letters.any? %>
          <% @letters.each do |letter| %>
          <%= link_to letter_path(letter), class: "letter-link" do %>
        <div class="letter">
        <p class="topletter-date">
          <%= letter.day.strftime("%Y年%-m月%-d日") %>
        </p>
        <h3 class="letter-toptitle line-clamp-2" title="<%= letter.name %>">
          <%= letter.name %>
        </h3>
      </div>
        <% end %>
      <% end %>
      <% else %>
      <p>まだ投稿がありません。</p>
      <% end %>

    </div>
  </div>

  <div class="toptweets">
    <div class="tweets-note">
      <h1>Recent Blogs</h1>
    </div>

    <div class="tweets-topcontainer">
    <% @tweets.last(1).reverse.each do |tweet| %> 
    <%= link_to tweet_path(tweet.id), class: "tweet-link" do %>
      <div class="tweet-toppaperindex">
        <div class="wood-thumbtack">
           <div class="wood-head"></div>
            <div class="wood-head-bottom"></div>
              <div class="woodpin-needle"></div>
        </div>
        <% if tweet.image.attached? %>
          <%= image_tag tweet.image, size: '250x200' %>
        <% end %>
        <h3><%= tweet.name %></h3>
        <p><%= Date.parse(tweet.day).strftime("%Y年%-m月%-d日") %></p>
      </div>
    <% end %>
  <% end %>
</div>

</div>