<head>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
</haad>

<div class="teacher-top">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="teacheroverlay-box">
    <div class="contactoverlay-text">
      <h1>お　問　い　合　わ　せ</h1>
    </div>
  </div>
</div>

<div class="contact-note">
  <h1>Contact</h1>
</div>
<div class="contactform">
<h2>ゼミ生へのご質問は、下記のお問い合わせフォームまたはInstagramのDMよりお気軽にご連絡ください。</h2>
</div>
<%= form_for @contact, html: { class: "contact-form" } do |f| %>
  <div class="form-field">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :mail, "メールアドレス" %><br>
    <%= f.text_field :mail, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :title, "件名" %><br>
    <%= f.text_field :title, class: "form-input" %>
  </div>

  <div class="form-field">
    <%= f.label :about, "内容" %><br>
    <%= f.text_area :about, class: "form-textarea" %>
  </div>

  <div class="form-actions">
    <%= f.submit "送信する", class: "submit-button" %>
  </div>
<% end %>


