<head>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="teacher-top">
  <%= image_tag "IMG_2030.jpeg", class: "top-image" %>
  <div class="teacheroverlay-box">
    <div class="planoverlay-text">
      <h1>活　動　予　定</h1>
    </div>
  </div>
</div>


<div class="plans-container">
  <% @plans.reverse_each do |t| %>
    <%= link_to plan_path(t.id), class: "plan-link" do %>
      <div class="plan-paperindex">
        <div class="silver-thumbtack">
          <div class="silver-head-bottom"></div> <!-- 厚み部分（後ろ） -->
          <div class="silver-head"></div>        <!-- 表面 -->
          <div class="silverpin-needle"></div>   <!-- 針 -->
        </div>

        <% if t.image.attached? %>
          <%= image_tag t.image, size: '250x200' %>
        <% end %>
        <h1><%= t.name %></h1>

        <% if user_signed_in? && current_user.id == t.user_id %>
          <div class="plan-actions">
            <%= link_to "編集する", edit_plan_path(t.id), class: "plan-edit" %>
            <%= button_to "削除する", plan_path(t.id), method: :delete, class: "plan-delete" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>




